<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{post.user.name}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.dateCreated}}</div>
                <p class="card-text mb-auto">{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#each post.comments}}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-9 mx-auto">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <h5 class="mb-0">{{user.name}}</h5>
                <div class="mb-1 text-muted">{{dateCreated}}</div>
                <p class="card-text mb-auto">{{text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}