{{#if sameAuthor}}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-9 mx-auto">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <button type="button" id="editPostButton" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{post.user.name}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.dateCreated}}</div>
                <p class="card-text mb-auto">{{post.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#each post.comments}}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-9 mx-auto">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <h5 class="mb-0">{{user.name}}</h5>
                <div class="mb-1 text-muted">{{dateCreated}}</div>
                <p class="card-text mb-auto">{{text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#if loggedIn}}
<div class="col-md-3 col-md-offset-2 mx-auto">
    
    <h3>Comment</h3>
    
    <form class="createCommentForm">
        
        <div class="form-group">
            <textarea rows="3" id="commentText" class="form-control" name="description"></textarea>
        </div>
        
        <div class="form-group">
            <button type="submit" id="createPostButton" class="btn btn-primary">
                Create
            </button>

            <a href="/">Cancel</a>

        </div>
        
    </form>
</div>
{{/if}}

<script src="/js/comment.js"></script>